<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Healpy Food | For Health and Happy">
    <meta name="description" content="Author: Agung Firmansyah, Category: Foods,">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Healpy Food | For Health and Happy</title>
</head>

<body>
    <a href="#main" class="skip-to-content">Skip To Content</a>
    <header>
        <div class="container flex">
            <div class="logo-brand">
                <span><a href="/">Healpy Food</a></span>
            </div>
            <div id="drawer">
                <button id="menu-drawer" aria-label="navigation-menu">☰</button>
                <nav>
                    <ul>
                        <li><a href="/" class="btn nav">Home</a></li>
                        <li><a href="#" class="btn nav">Favorite</a></li>
                        <li><a href="https://github.com/agungfir10" class="btn nav">About Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="hero" style="background-image: url('./images/heros/hero-image_4.jpg');">
        <div class="hero__inner">
            <h1 class="hero__title">Covid? Kuy tingkatin imunitas dengan makanan sehat dan bergizi!</h1>
            <p class="hero__tagline">Nikmati berbagai makanan yang bisa anda pilih, buruan diskon 20% selama bulan
                Agustus.</p>
            <a href="#" class="btn btn-primary">Order Now</a>
        </div>
    </div>
    <main class="container" id="main">
        <h2>Explore Restaurant</h2>
        <section class="grid" id="foods">

        </section>
    </main>
    <footer>
        <p>Copyright &copy; Agung Fir 2021</p>
    </footer>
</body>

</html>