/* Tablet */
@media (min-width:720px) {

    #foods {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .logo-brand {
        font-size: 40px;
    }
}

/* Desktop */
@media (min-width:1200px) {
    header nav {
        transform: translate(0, 0);
        position: unset;
    }

    header nav ul {
        display: flex;
        position: inherit;
        flex-direction: row;
        width: 100%;
    }

    #drawer #menu-drawer {
        display: none;
    }

    #foods {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}